<%= form_for @book_entry, :html => { :class => "form-horizontal book_entry" } do |f| %>
  <% if @book_entry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book_entry.errors.count, "error") %> prohibited this book_entry from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %> 
  <div class="form-group col-12">    
    <%=f.error_span(:kind) %>
    <div class="col-sm-12 col-lg-6">
      <label class="radio-button col-md-2" value='arrive'>Arrive
        <%= f.radio_button :kind, :arrive %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-sm-12 col-lg-6">
      <label class="radio-button col-md-2" value='lunch_out'>Lunch Out
        <%= f.radio_button :kind, :lunch_out %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-sm-12 col-lg-6">
      <label class="radio-button col-md-2" value='lunch_in'>Lunch In
        <%= f.radio_button :kind, :lunch_in %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-sm-12 col-lg-6">
      <label class="radio-button col-md-2" value='leave'>Leave
        <%= f.radio_button :kind, :leave %>
        <span class="checkmark"></span>
      </label>
    </div>    
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                book_entries_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
